<% if (typeof alerts !== 'undefined') { %>
    <%if (alerts.length > 0) { %>
        <div class="container">
            <% for(let i=0; i < alerts.length; i++) { %>
                <div class="p-notification--<%= alerts[i].type %>">
                    <p class="p-notification__response">
                      <span class="p-notification__status"><%- alerts[i].text %>
                  </p></div>
            <% } %>
        </div>
    <% } %>
<% } %>

