<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BitGallery</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.29.0.min.css" />
        <style>
            .container {
                margin-left: 10vw;
                margin-right: 10vw;
            }

            .uploadingArea {
                display: flex;
                justify-content: center;
            }
            /*
            #fileInput {
                width: 80vw; 
                height: 30vh; 
                background: #a5c6e7;
                padding: 10px;
                border: 2px dashed black;
            }*/
        </style>
    </head>
<body>

    <%- include('header') %>

    <center>
        <div class="u-fixed-width">
            <h1>BitGallery</h1>
            <p>Simple image sharing service.</p> 
        </div>
        <hr>
    </center>

    <%- include('alerts') %>

    <% if (typeof username !== 'undefined') { %>
        <div class="uploadingArea">
            <form method="POST" action="/api/upload?info=1" enctype="multipart/form-data">
                <input multiple name="fileInput" id="fileInput" required accept="image/*" type="file">
                <br>
                <input type="submit" class="p-button--positive" value="Upload">
            </form>
        </div>
    <% } %>
</body>
</html>
