<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BitGallery</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Probably should not be mixing these two but I just do not have time to copy the theme from pastebin.fi -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.29.0.min.css" />
    </head>
<body>

    <%- include('header') %>
    
    <%- include('alerts') %>

    <form action="/login" class="container" method="POST">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" required placeholder="Enter username" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password" required placeholder="Enter password" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>
</html>
