<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BitGallery</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Probably should not be mixing these two but I just do not have time to copy the theme from pastebin.fi -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.29.0.min.css" />
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
    </head>
<body>

    <%- include('header') %>

    <%- include('alerts') %>

    <form action="/register" class="container" method="POST">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" required placeholder="Enter username" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password" required placeholder="Enter password" id="pwd">
        </div>
        <br>
        <% if (hcaptcha) { %>
            <div class="h-captcha" data-sitekey="d88ef213-634a-469c-8cb8-4ed9bcabcbb6"></div>
        <% } %>
        <hr>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
</html>
